.grandezza {
    display: block;
    height: 50px;
    width: max-content;
    
}

.colore{
    background-image: url(img/pattern.png);
    background-color: deepskyblue;
}

.immagini{
    display: block;
    border: 15px solid;
    border-color: transparent;
    border-left: none;
}

table{
    text-align: left;
    table-layout: fixed;
}

.blu{
    background-color: cornflowerblue;
    color: white;
}

.azzurro{
    background-color: aqua;
}

td, th{
    padding: 15px 10px;
}

